  
.blueBar{
    margin: auto;
    border-bottom: 25px solid rgba(93,146,247,1);
    width: 70%;
    height: 150px;
    background-color: white;
    
  
  }
  
  
  img {
    width:100px;
    height:100px;
    
   }
  
   h1{
  
  padding-top: 1.5em;
   }
  
   .background{
  
  
  background-color: #FFB55E ;
   }
  
   h4,h5{
    text-align: center;
   
  
   }

  
  
  
   .border1{
  
    border-style: solid;
    border-width: 1px;
    margin-bottom: 10px;
    margin-right: 20rem;
    margin-left: 20rem;
    background-color: rgb(250, 217, 83);
  }
  
  .middle{


margin-left: 2%;
margin-top: 2%;
margin-bottom: 10px;
text-decoration: underline;
  }


